@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "New Alenia Bold";
  src: url("/fonts/New Alenia Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Biennale";
  src: url("/fonts/Fontspring-DEMO-biennale-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@layer base {
  html {
    font-family: "alenia", sans-serif;
  /*  font-family: "Biennale", sans-serif;*/
  }
}
